{% set ctaPrefix = cta %}

{% if ctaContent %}
  {% set ctaPrefix = ctaContent %}
{% endif %}

<article class="cta | dot-shadow panel | bg-dark-shade color-light">
  <div class="wrapper">
    <div class="cta__inner | flow">
      <h2 class="cta__heading | headline" data-highlight="quaternary">{{ ctaPrefix.title }}</h2>
      <p class="cta__summary | measure-short">{{ ctaPrefix.summary }}</p>
      <div class="cta__action">
        <a class="button" data-variant="ghost" href="{{ ctaPrefix.buttonURL }}">{{ ctaPrefix.buttonText }}</a>
      </div>
    </div>
  </div>
</article>